.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  margin: 0% auto;
} 

.contact__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option_icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

.contact__option h5 {
  color: var(--color-light);
}

.contact__option h4 {
  font-weight: 500;
}

form span {
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

  


.btn_content {
  margin-top: 1.2rem;
  align-items: center;
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0 .9rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  background-color: transparent; 
  text-align: center; 
  font-size: 1rem;
}

.btn_content:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn_primary_content {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

 

  /* .b{margin-bottom:20rem;} */
  
  @media screen and (max-width: 1024px) {
    .container.contact__container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container.contact__container {
      width: var(--container-width-sm);
    }
  }
  