header {
    height: 100%;
    padding-top: 7rem;
    overflow: hidden;
  }
  
  .header__container {
    text-align: center;
    height: 100%;
    position: relative;
  }
  

  
  .header__socials {
    display: flex;
   flex-direction: column; 
    align-items: center;
    gap: 0.9rem;
    position: absolute;
    left: .8rem;
    bottom: .2rem;
  }
  
  .header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
  }
  

  .span{

    font-size: 10rem;
    padding: 1.3rem;
  }  
  

.fade_in {
  animation: fadeIn 3.5s ease-in;
  opacity: 2;
}


.my__infos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 3rem; 
  justify-items: center; 
  text-align:left;
  margin-left:3rem ;
  
}


.overlay h1  {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid transparent; 
  transition: border-bottom 0.3s ease;
}

.overlay h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
   
}

.overlay h1:hover::before {
  width: 100%; 
  
}
.overlay h1:hover{
  color:var(--color-primary);
}

.home__image{
  border-radius: 50%;
  box-shadow: #fff 0 -1px 4px, #88bce0 0 -2px 9px, #84c9ee 0 2px 10px,
  #4e4ecd 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
margin-bottom: .5rem;
}

 .my__infos:hover .info_service {
  bottom: 10%;
  opacity: 1;
}



.info__intro {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  text-transform: uppercase;
}

.info__intro::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.info__intro:hover::before {
  width: 100%;
 
}
.info__intro:hover{
  color: var(--color-primary) ;
}

.info_service{
  width: 2rem;
}




.contact__buttons button {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  background-color: transparent;
  color:#0c1217;
  font-size: 1rem;
}
.btn_content {
  display: inline-block;
  width: 10rem;
  margin: .5rem;
  padding: 0.05rem .5rem;
  color: #b0a7a7;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1rem;
  color: #141313;
}

.btn_content:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#4cd4ef;
  z-index: -2;
  
}
.btn_content a {
  color: #141313;
}

.btn_content:before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0c1217;
  transition: all 0.3s;
  z-index: -1;
  
}


.btn_content:hover {
  color: #d5d5d5;
}
.btn_content:hover:before {
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




@media screen and (max-width: 1024px) {
  header {
    padding-top: 3rem;
  }

  section {
    margin-top: 6rem;
  }

  .header__container {
    text-align: center;
  }


  .home__image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; 
  }

  .my__infos {
    text-align: center;
  }
}
.my__infos {

@media screen and (max-width: 1024px) {
  
  grid-template-columns:repeat(2, 1fr);
}

@media screen and (max-width: 600px) {
  
  grid-template-columns: 1fr; 
}


}


h3.span {
  font-size: 2vw;
  letter-spacing: 0.1em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 900;
  color: #ffcc00;
  z-index: 4;
}
span:hover {
  color: #b302ff;

}


@media screen only (min-width: 360px) {
  .nav h1,
  .slider h1 {
    font-size: 8vw;
  }

  .nav h2,
  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.2vw;
  }

  .nav-tab {
    font-size: 1.2vw;
  }
}

.loader span {
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
  -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px #ff0266;
    color: #ff0266;
  }
}
.loader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
}
.loader span:nth-child(11) {
  -webkit-animation-delay: 1s;
}
.loader span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
}
.loader span:nth-child(13) {
  -webkit-animation-delay: 1.2s;
}
.loader span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
}
.loader span:nth-child(15) {
  -webkit-animation-delay: 1.4s;
}
.loader span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
}
.loader span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
}
.loader span:nth-child(18) {
  -webkit-animation-delay: 1.7s;
}
.loader span:nth-child(19) {
  -webkit-animation-delay: 1.8s;
}
.loader span:nth-child(20) {
  -webkit-animation-delay: 1.9s;
}
.loader span:nth-child(21) {
  -webkit-animation-delay: 2s;
}
.loader span:nth-child(22) {
  -webkit-animation-delay: 2.1s;
}
