
.Nav_ulParent{

    background: rgba(176, 155, 155, 0.128);
    width: max-content;
    padding: 0.rem .3rem;
    z-index: 2;
    position: fixed;
    left:96%;
    top:40%;
    flex-direction: column;
    transform: translateX(-50%);
    display: flex;
    color:white;
    gap: 0.8rem;
    border-radius: 3rem;
}

.Nav_ulParent li a {
    background: transparent;
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    color:white;
    font-size: 1.1rem;
}
.Nav_ulParent li a:hover {
    background: rgba(163, 158, 158, 0.412);

}